.bgc-green{
    background-color:rgb(153,255,153);
}

.bgc-blue{
    background-color:rgb(102,178,255);
}

.bgc-yellow{
    background-color:rgb(255,255,204);
}

.bgc-red{
    background-color:rgb(255,153,153);
}